@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

.container {
  width: 1100px;
  font-family: "Merriweather", serif;
  padding: 0 24px;
}

.error {
  color: rgb(185, 38, 38);
}

.main_container {
  display: flex;
  flex-direction: row;
  height: 180px;
  position: relative;
  width: 100%;
}
.main_city_name {
  width: 100%;
  font-size: 96px;
  font-weight: 800;
  letter-spacing: 0.2rem;
  color: white;
  -webkit-text-stroke: 2px #008f71;
  border: solid 2px #008f71;
  display: block;
  padding: 24px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main_temp {
  font-weight: 500;
  font-size: 96px;
  color: white;
  background-color: #008f71;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  aspect-ratio: 1/1;
  padding: 0 0 0 8px;
}

.info_table {
  width: 192px;
  height: 100%;
  border-collapse: collapse;
  border: #008f71 solid 2px;
  margin-left: 16px;
}
.table_td {
  padding: 0px 12px;
  font-size: 18px;
  letter-spacing: 0.1rem;
  text-wrap: nowrap;
}
.table_field {
  color: white;
  background-color: #008f71;
  font-weight: 100;
}
.table_content {
  color: #008f71;
  border-top: 2px solid #008f71;
  border-right: 2px solid #008f71;
}
.table_content:last-child {
  border-bottom: 2px solid #008f71;
}

.subtitle_container {
  padding: 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.subtitle {
  color: #008f71;
  font-size: 24px;
  text-wrap: nowrap;
}
.sub_divider {
  width: 100%;
  height: 2px;
  background-color: #008f71;
}

/* 卡片 */
.card_container {
  /* display: flex;
  flex-direction: row; */
  /* width: 100%; */
  display: grid;
  gap: 16px; /* 卡片之間的間距 */
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); /* 初始設置為自適應 */
}
.card {
  width: 100%;
  border: #008f71 2px solid;
  transition: transform 0.3s ease;
}
.card:hover {
  transform: scale(1.05);
}
.card_date {
  background: #008f71;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 24px;
  padding: 16px 0;
  font-weight: 100;
}
.card_main_info {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
}
.card_paragraph {
  color: #008f71;
  font-size: 32px;
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.card_sm_paragraph {
  color: #008f71;
  font-size: 22px;
}
.card_bg {
  background: #c3ded8;
  width: 124px;
  height: 124px;
  border-radius: 50%;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
}
.card_icon {
  z-index: 0;
  cursor: pointer;
}

.text_divider {
  width: 100%;
  height: 2px;
  background-color: #008f71;
}

.sticker {
  position: absolute;
  background: white;
  border: solid 2px #008f71;
  padding: 20px 24px;
  border-radius: 160px / 70px;
  color: #008f71;
  font-size: 20px;
  font-weight: 600;
  transform: rotate(-26deg);
  top: -30px;
  left: -60px;
}

/* 大屏幕時的設置，顯示 5-6 張卡片 */
@media (min-width: 1024px) {
  .card_container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}

/* 中屏幕（md）時的設置，顯示兩行，每行 3 張卡片 */
@media (max-width: 768px) {
  .main_temp {
    font-size: 48px;
    width: 40%;
  }
  .main_city_name {
    font-size: 48px;
    display: block;
    align-content: center;
  }
  .subtitle_container {
    padding: 20px 0;
  }
  .container {
    width: 100%;
    padding: 32px;
    overflow: hidden;
  }
  .card_container {
    grid-template-columns: repeat(3, 1fr); /* 中屏幕時每行顯示 3 張卡片 */
  }
  .sticker {
    display: none;
  }
}

/* 小屏幕（sm）時的設置，每行顯示 2 張卡片 */
@media (max-width: 576px) {
  .container {
    padding: 24px;
  }
  .card_container {
    grid-template-columns: repeat(2, 1fr); /* 小屏幕時每行顯示 2 張卡片 */
  }
  .subtitle_container {
    gap: 4px;
  }
  .subtitle {
    font-size: 16px;
  }
  .main_container {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 40px; */
    height: 20%;
  }
  .main_temp {
    font-size: 32px;
    position: absolute;
    width: 52px;
    height: 80px;
    padding: 0 12px;
  }
  .main_city_name {
    -webkit-text-stroke: 1.5px #008f71;
    font-size: 40px;
    height: 80px;
    width: 100%;
    margin-bottom: 16px;
    display: flex;
    padding-left: 96px;
    justify-content: flex-start;
    align-items: center;
    justify-items: center;
  }
  .info_table {
    width: 100%;
    margin-left: 0;
  }
  .table_content {
    width: 100%;
  }
  .table_td {
    padding: 4px 12px;
    font-size: 16px;
  }
  .card_date {
    font-size: 20px;
  }
  .card_paragraph {
    font-size: 22px;
  }
  .card_sm_paragraph {
    font-size: 18px;
  }
}
